* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.container {
  width: 400px;
}

h2 {
  text-align: center;
}

form {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 15px 0 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.remember{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}
#toggle {
  width: fit-content;
  background-color: transparent;
  color: black;
}
.p1{
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* outline: 2px solid black; */
}
.p1 input{
  border: none;
  margin:0;
}
.p1 input:focus {
  outline: none;
}
.p1:focus-within .p1{
  outline: 2px solid black;
}