.todo-container {
  text-align: center;
  margin: 20px auto;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
.delete {
  background-color: red;
}
ul {
  list-style: none;
  padding: 0;
}
.todo-list {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}
